<div id="plantInfo">
    <h1>Learn More About {{bioData.name}}</h1>
    <img id="plantImg" src="/images/{{bioData.avatar}}" alt="bio image">
    <p>Name: {{bioData.name}}</p>
    <p>Origin: {{bioData.origin}}</p>
    <p>Description: {{bioData.bio}}</p> 
</div>